.metadata/*
publication/*
RemoteSystemsTempFiles/*
.externalToolBuilders/
/**/target/*
.settings/
*.MF
*.class
*.log
*.project
*.bak
*.classpath
# Package Files #
*.jar
*.war
*.ear
.svn
bin/
/.metadata/
/.recommenders/
*.iml
.idea/*
.springBeans
